




.navbar{
    width:100%;
    padding:20px;
    }
    .nav-option{
        padding: 5px;
        font-family: "Roboto Condensed", sans-serif;
    }
    .nav-item{
      margin:0 3px;
    }
  .main-logo{
    margin-right:100px;
    height:70px;
    width: 70px;
  }
  
  .heading {
    text-align: center;
    font-weight: bold;
    font-size: 80px;
    font-family: "Roboto Condensed", sans-serif;
}

.blog_image_container {
    height: 550px !important;
    width: auto !important;
    background: url('./../img/front_img/home.jpg');
    opacity: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}